@use "mixins" as *;

// @import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Mazius';
  src: url('../font/MaziusDisplay/Mazius\ Display\ Regular.otf');
}

@font-face {
  font-family: 'Mazius';
  font-style: italic;
  src: url('../font/MaziusDisplay/Mazius\ Display\ Extraitalic.otf');
}


:root{
  --background: #181818;
  --first-purple: #7b2cbf;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #202020;
  color: white;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
  transition: .6s cubic-bezier(0,.89,.41,1);

}


::-webkit-scrollbar {
  width: 10px !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  background-color: #7b2cbf !important;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
  border-radius: 10px !important;
}

.burger{
  width: 40px;
  height: 6px;
  background-color: #fff;
  right: 16px;
  top: 16px;
  z-index: 500;
  position: absolute;
  visibility: hidden;
  @media screen and (max-width:600px) {
    visibility: visible;
  }
  &::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 6px;
    background-color: #fff;
    right: 0;
    top: 10px;
  }
  &::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 6px;
    background-color: #fff;
    right: 0;
    top: 20px;
  }
}

.burger-other{
  width: 40px;
  height: 6px;
  background-color: #fff;
  z-index: 500;
  display: none;
  position: absolute;
  right: 16px;
  top: 40px;
  @media screen and (max-width:900px) {
    display: block;
  }
  &::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 6px;
    background-color: #fff;
    top: 10px;
  }
  &::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 6px;
    background-color: #fff;
    top: 20px;
  }
}

.menu{
  width: 100%;
  height: 100vh;
  transition: 1s;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(4,25vh);
  position: absolute;

  .div-span{
    z-index: 20;
    background-color: #7b2cbf;
  }
  .span1{
    grid-row: 1;
    grid-column: 1/4;
    width: 0%;
    transition: 0.5s;
  }

  .span2{
    grid-row: 2;
    width: 0%;
    grid-column: 1/4;
    transition: 1s;

  }

  .span3{
    grid-row: 3;
    grid-column: 1/4;
    width: 0%;
    transition: 1.5s;

  }

  .span4{
    grid-row: 4;
    grid-column: 1/4;
    width: 0%;
    transition: 2s;

  }
  
  .cross{
    width: 40px;
    height: 6px;
    color: white;
    position: absolute;
    background-color: #fff;
    transform: rotate(45deg);
    top: 45px;
    right: 45px;
    @media screen and (max-width:600px) {
      top: 16px;
      right: 16px;
    }
    cursor: pointer;
    z-index: 500;
    visibility: hidden;
  }
  
  .cross::before{
    content: "";
    width: 40px;
    height: 6px;
    color: white;
    position: absolute;
    background-color: #fff;
    transform: rotate(90deg);
  }
  
  ul{
    display: flex;
    list-style: none;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/5;
    z-index: 200;
    visibility: hidden;
    transition-delay: 2s;
    
    li{
      margin: 20px 0;
    }
    
    .links{
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      font-size: 100px;
      font-weight: 200;
      z-index: 1;
      position: relative;
      @media screen and (max-width:600px) {
        font-size: 70px;
      }
      
    }

    .links::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: -0.25em;
      right: -0.25em;
      background-color: var(--background);
      transform-origin: center right;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }
    
    .links:hover::before {
      transform: scaleX(1);
      transform-origin: center left;
    }
  }
}


header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;

  a{
    text-decoration: none;
    color: white;
  }
  .header-title{
    z-index: 500;

  }
  .header-title a{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 60px;
    color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white;
    font-family: 'Roboto', sans-serif;
    transition: 0.4s ease-in-out;
    @media screen and (max-width : 500px) {
      font-size: 40px;
    }
    @media screen and (max-width : 400px) {
      font-size: 30px;
    }
    img{
      margin-right: 15px;
      height: 50px;
      @media screen and (max-width : 400px) {
        height: 35px;
      }
    }

    &:hover{
      color: #7b2cbf;
    }
  }

  nav ul{
    display: flex;
    list-style: none;
    @media screen and (max-width : 900px) {
      display: none;
    }
    .header-links{
      margin-right: 20px;
      font-size: 1.5rem;
      position: relative;
      &::before, &::after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 2px;
        background-color: #7b2cbf;
        transform: scaleX(0);
        transition: transform 0.5s ease;
      }
      &::before{
        top: 0;
        transform-origin: center right;
      }
      &:hover::before{
        transform-origin: center left;
        transform: scaleX(1);
      }
      &::after{
        bottom: 0;
        transform-origin: center left;
      }
      &:hover::after{
        transform-origin: center right;
        transform: scaleX(1);
      }
    }
  }
}







.homeBody{
  display: flex;
  align-items: center;
  justify-content: center;
  animation: start 2s;
  flex-direction: column;
  @media screen and (max-width:600px) {
    display: none;
  }
}

@keyframes start{
  from{
    opacity: 0;
  }
  to{
    opacity: 100;
  }
}

.containTitle{
  display: inline-block;
  position: absolute;
}

.title{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: white;
  font-size: 7.5rem;
  position: relative;
  z-index: 1;
  @media screen and (max-width:900px) {
    font-size: 5rem;
  }
}

.title::after{
  content: "";
  position: absolute;
  background-color: #7b2cbf;
  z-index: -1;
  top: 60%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
}

.containTitle p{
  font-family: 'Noto Sans Mono', monospace;
  border-right: solid 3px #7b2cbf;
  white-space: nowrap;
  overflow: hidden;    
  margin-left: auto;
  font-size: 1.5rem;
  @media screen and (max-width:900px) {
    font-size: 1rem;
  }
}

/* Animation */
.containTitle p {
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
  animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 480px;}
  
}
@media screen and (max-with:900px) {
  @keyframes animated-text {
    from{width: 0;}
    to{width: 100px;}
  }
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: #7b2cbf;}
  to{border-right-color: transparent;}
}



#click{
  margin-top: 400px;
  position: relative;
  padding: 1rem 2rem;
  transition: all .2s ease;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  text-decoration: none;
  color: white;
  @media screen and (max-width:600px) {
    visibility: hidden;
  }

  span{
    position: relative;
    font-size: 1.4rem;
    line-height: 2.375rem;
    font-weight: 500;
    letter-spacing: .25em;
    text-transform: uppercase;
    vertical-align: middle;
    transition: .5s;
  }
  i{
    position: relative;
    top: 0;
    height: 2rem;
    aspect-ratio: 1;
    transform: translate(-1rem);
    transition: all .3s .55s ease-in;
    opacity: 0;
    display: flex;
    align-items: center;
  }

  &:hover{
    background-color: #7b2cbf;
    align-items: center;
    span{
      font-weight: 400;
    }
    i{
      transform: translate(0) translate(0.5rem);
      opacity: 1;
    }
  }
}

@keyframes bounce {
  0% {transform: translateY(0);}
  50% {transform: translateY(-15px);}
  100% {transform: translateY(0);}
}

@keyframes open-before {
  from {width: 50px;}
  to {width: 100%;}
}

.mobile-body{
  // visibility: hidden;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 7%;
  // overflow-y: hidden;
  @media screen and (max-width:600px) {
    display: flex;
  }
  h2{
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 10px;
    animation: fromUp 1s ease;
    @media screen and (max-width:500px) {
      font-size: 1.5em;
    }
    // @media screen and (max-width:35000px) {
    //   font-size: 1em;
    // }
  }
  p{
    -webkit-text-stroke-color: #7b2cbf;
    text-decoration: underline #7b2cbf;
    animation: fromDown 1s ease;
  }

  @keyframes fromUp {
    from{transform: translateY(-500px);}
    to{transform: translateY(0px);}
  }
  @keyframes fromDown {
    from{transform: translateY(500px);}
    to{transform: translateY(0px);}
  }
}


// *******************************************************

// About page

.socials{
  position: fixed;
  right: 0%;
  top: 40%;
  padding: 15px;
  border-radius: 10px 0 0 10px;
  background: #000;
  ul{
    list-style: none;
    li a{
      color: white;
      
    }
  }
  @media screen and (max-width : 900px) {
    display: none;
  }
}

.container-top-about{
  width: 80%;
  margin: 10vh auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3,20vh);
  
  
  .container-text{
    grid-column: 1/3;
    grid-row: 1/4;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    text-transform: uppercase;
    @media screen and (max-width : 900px) {
      grid-column: 1/5;
      align-items: center;
    }
    h1{
      position: relative;
      z-index: 1;
      font-size: 3.5rem;
      br{
        display: none;
        @media screen and (max-width : 900px) {
          display: block;
        }
      }
      &::after{
        content: "";
        position: absolute;
        background-color: #7b2cbf;
        z-index: -1;
        top: 60%;
        left: -0.1em;
        right: -0.1em;
        bottom: 0;
      }
    }
  }

  .container-img{
    grid-column: 3/5;
    grid-row: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width:900px) {
      display: none;
    }
    img{
      max-height: 80%;
      border: 3px solid #7b2cbf;
      // background-color: #7b2cbf;
    }
  }

  a{
    color: #fff;
    animation: bounce 2s infinite ease;
    grid-column: 2/4;
    margin: auto;
    @media screen and (max-width : 900px) {
      font-size: 30px;
    }
  }
}

.container-pres-about{
  width: 80%;
  margin: 150px auto;

  .container-pres-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h2{
      text-transform: uppercase;
      position: relative;
      z-index: 1;

      &::after{
        content: "";
        position: absolute;
        background-color: #7b2cbf;
        z-index: -1;
        top: 60%;
        left: -0.1em;
        right: -0.1em;
        bottom: 0;
      }
    }
    .info{
      display: flex;
      margin-top: 20px;
      gap: 7%;
      align-items: center;
      p{
        font-weight: 200;
        font-size: 1.5rem;
        @media screen and (max-width : 900px) {
          font-size: 25px;
        }
        a {
          text-decoration: underline #7b2cbf;
          color: white;
          position: relative;
          z-index: 1;
        }
      }

      .h3{
        font-size: 7rem;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration:underline;
        text-decoration-color: #7b2cbf;
        @media screen and (max-width : 900px) {
          font-size: 5rem;
        }
        @media screen and (max-width : 600px) {
          display: none;
        }
      }
    }
  }
}

.container-skills-about{
  width: 80%;
  margin: 200px auto;
  border: 5px solid #7b2cbf;
  padding: 25px;

  .container-skills-text{
    p{
      font-size: 1.5rem;
      @media screen and (max-width : 900px) {
        // font-size: 1.5rem;
      }
      span{
        text-decoration: underline;
        text-decoration-color:#7b2cbf ;
      }
    }
    
    .container-skills-icons{
      display: flex;
      justify-content: center;
      @media screen and (max-width : 950px) {
        flex-direction: column;
      }
      .skills1,.skills2{
        display: flex;
        list-style: none;
        margin-top: 25px;
        justify-content: center;
        
        li i{
          font-size: 70px;
          padding: 0 25px;
          @media screen and (max-width : 900px) {
            font-size: 40px;
          }
        }
  
      }
    }
    
  }
  
}

.credits{
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
}




// **********************************************

.container-projects{
  @include width;

  .contain-title-projects{
    display: inline-block;

    h1{
      text-transform: uppercase;
      position: relative;
      z-index: 1;
      &::after{
        content: "";
        position: absolute;
        background-color: #7b2cbf;
        z-index: -1;
        top: 60%;
        left: -0.1em;
        right: -0.1em;
        bottom: 0;
      }
    }
  }

  .container-projects-card{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,25vh);
    margin: 70px auto;
    gap: 50px;
    .container-card{
      border-radius: 50px;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: flex-end;
      .card-img{
        transition: .6s cubic-bezier(0,.89,.41,1);
        width: 100%;
        height: 100%;
        position: absolute;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .card-info{
        position: relative;
        padding: 0 0 20px 20px;
        color: #202020;
        >p{
          background-color: white;
          border-radius: 40px;
          font-size: 0.7rem;
          padding: 8px;
          width: fit-content;
          margin-bottom: 7px;
          font-weight: 600;
          transform: translate(0,-50%);
          transition: .4s;
          opacity: 0;
          display: block;
          &:first-child{
            transition-delay: .1s;
          }
          &:nth-child(2){
            transition-delay: .2s;
          }
          @keyframes show {
            from{}
          }
        }
        .cta-info{
          display: flex;
          gap: 15px;
          align-items: center;
          p{
            font-size: 2rem;
            font-weight: 400;
            padding: 7px 10px;
            border-radius: 40px;
            background-color: white;
            color: #202020;
            span{
              font-family: Mazius;
              font-style: italic;
            }
          }
          a{
            i{
              color: #000;
              background-color: #fff;
              border-radius: 50%;
              font-size: 3rem;
            }
          }
        }
      }
    }
    .republique{
      grid-column: 1/4;
      grid-row: 1/4;
    }
    .container-card:hover .card-info{
      & > p{
        opacity: 1;
        transform: translate(0,0);
      }
      & > p:nth-child(2){
        transition-delay: .3s !important;
      }
    }
  }
}

// **************************************

.container-networks{
  width: 80%;
  margin: 100px auto 290px auto;
  .contain-title-socials{
    display: inline-block;
    h2{
      text-transform: uppercase;
      position: relative;
      z-index: 1;
      &::after{
        content: "";
        position: absolute;
        background-color: #7b2cbf;
        z-index: -1;
        top: 60%;
        left: -0.1em;
        right: -0.1em;
        bottom: 0;
      }
    }
  }
  .contain-icons-links ul{
    align-items: center;
    margin: 25px 7%;
    list-style: none;
    li{
      margin-top: 50px;
      a {
        text-decoration: none;
        color: white;
        align-items: center;
        position: relative;
        &::before{
          content: '';
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 100%;
          height: 2px;
          background-color: #7b2cbf;
          transform-origin: center;
          transform: translate(-50%, 0) scaleX(0);
          transition: transform 0.3s ease-in-out;
        }
        &:hover::before{
          transform: translate(-50%, 0) scaleX(1);
        }
        i {
          font-size: 50px;
          color: white;
        }
      }
    }
  }
}